@model ProgrammingTutor.Models.Tutorial

<h2>Add New Tutorial</h2>

<form asp-controller="Admin" asp-action="AddTutorial" method="post">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Level" class="control-label"></label>
        <input asp-for="Level" class="form-control" />
        <span asp-validation-for="Level" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration" class="control-label"></label>
        <input asp-for="Duration" type="number" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <!-- Add ImagePath input -->
    <div class="form-group">
        <label asp-for="ImagePath" class="control-label"></label>
        <input asp-for="ImagePath" class="form-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>

