@model IEnumerable<ProgrammingTutor.Models.Tutorial>

<h2>Available Tutorials</h2>

<h1>Hello! This is Programming Tutor for Kids</h1>

<ul>
    @foreach (var tutorial in Model)
    {
        <li>
            <strong>@tutorial.Title</strong> - @tutorial.Description
        </li>
    }
</ul>
